.editor-wrapper {
   /****************** 
  Editor wrapper styles
  ******************/
  width: 80vw;
  height: 60vh;
  overflow: auto;
  border-radius: 7px;
  background-color: var(--tt-bg-color);
  overscroll-behavior-x: none;

  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--tt-gray-light-900);

  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.05),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition:
    box-shadow 0.3s ease,
    color 0.3s ease,
    background-color 0.3s ease;

  & * {
    color: var(--tt-gray-light-900);
    transition: color 0.3s ease;
  }
  
  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  & * {
    scrollbar-width: thin;
    scrollbar-color: var(--tt-scrollbar-color) transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--tt-scrollbar-color);
    border-radius: 9999px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

 
}
.editor-dark {
  --tt-theme-text: var(--tt-gray-dark-900);
  // --tt-bg-color: #000000;
  --tt-scrollbar-color: rgba(255, 255, 255, 0.2);
  --tt-shadow-elevated-md:
    0px 16px 48px 0px rgba(0, 0, 0, 0.5), 0px 12px 24px 0px rgba(0, 0, 0, 0.24),
    0px 6px 8px 0px rgba(0, 0, 0, 0.22), 0px 2px 3px 0px rgba(0, 0, 0, 0.12);

  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -2px rgba(0, 0, 0, 0.2);

  & * {
    color: var(--tt-gray-dark-900);
    transition: color 0.3s ease;
  }
  &:hover {
    box-shadow:
      0 20px 25px -5px rgba(0, 0, 0, 0.3),
      0 10px 10px -5px rgba(0, 0, 0, 0.3);
  }
}
.editor-content {
  max-width: 648px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.editor-content .tiptap.ProseMirror.editor {
  flex: 1;
  padding: 3rem 3rem 30vh;
}

.theme-toggle-button {
  padding: 0.5rem;
  background-color: var(--tt-gray-light-200);

  &:hover {
    background-color: var(--tt-gray-light-a-50);
  }

  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--tt-brand-color-100);
  }

  &:active,
  &[data-active-state="on"],
  &[data-state="open"] {
    background-color: var(--tt-brand-tint-light); /* Tinted blue background */
    box-shadow: 0 0 0 2px var(--tt-brand-color-500); /* Match toolbar blue */
  }

  &.editor-dark {
    background-color: var(--tt-gray-dark-200);

    &:hover {
      background-color: var(--tt-gray-dark-a-50);
    }

    &:focus,
    &:focus-visible {
      box-shadow: 0 0 0 2px var(--tt-brand-color-900);
    }

    &:active,
    &[data-active-state="on"],
    &[data-state="open"] {
      background-color: black; /* Tinted blue for dark mode */
      box-shadow: 0 0 0 2px var(--tt-brand-color-500); /* Match toolbar blue */
    }
  }
}

@media screen and (max-width: 480px) {
  .editor-content .tiptap.ProseMirror.editor {
    padding: 1rem 1.5rem 30vh;
  }
}
